<div class="navbar">
  <div class="inside-wrapper">
    <div class="logo-container">
      <a routerLink="/" routerLinkActive="active" class="logo">FORMS</a>
    </div>
    <div class="links-container">
      <a routerLink="/form-one" routerLinkActive="active">Form 1</a>
      <a routerLink="/form-one" routerLinkActive="active">Form 2</a>
    </div>
    <div class="card flex justify-center">
      <p-button
        label="Toggle Dark Mode"
        icon="pi pi-check"
        (onClick)="toggleDarkMode()"
      />
    </div>
    <div class="card flex justify-center">
      <p-button
        label="Toggle Theme"
        icon="pi pi-check"
        (onClick)="toggleTheme()"
      />
    </div>
  </div>
</div>
