<div class="navbar">
  <div class="inside-wrapper">
    <div class="logo-container">
      <p-avatar
        icon="pi pi-home"
        size="large"
        shape="circle"
        class="mytheme"
        routerLink="/"
      />
    </div>
    <form [formGroup]="formPicker">
      <div class="container">
        <p-select
          class="select"
          formControlName="formSelected"
          [options]="forms"
          optionLabel="label"
          placeholder="Select a Form"
          (onChange)="SelectFormHandler()"
        />
        <p-select
        class="select"
          formControlName="themeSelected"
          [options]="themes"
          optionLabel="label"
          placeholder="Select a Theme"
          (onChange)="SelectThemeHandler()"
        />
      </div>
    </form>

    <div>
      <p-button
        label="Dark Mode"
        severity="secondary"
        (onClick)="toggleDarkMode()"
      />
    </div>
  </div>
</div>
