.navbar {
  min-width: 100vw;
  min-height: 4rem;
  padding: 10px;
  margin-bottom: 20px;
  background-color: var(--p-primary-color);
}

.inside-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .mytheme {
    background-color: var(--p-primary-color);
    cursor: pointer;
  }

  .logo-container {
    flex-basis: 1;
    .logo {
      font-size: 2em;
      font-weight: 700;
      cursor: pointer;
      text-align: center;
    }
  }

  .links-container {
    width: 100%;
    flex-basis: 1;
  }
}
