.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer {
  min-height: 4rem;
  width: 100%;
  background-color: var(--p-primary-color);
}
